/*mobile display none*/
.class-mobile{
	display: none;
}

.class-desktop{
	width:auto;
	height: 270px;
	margin-top: 5%;
	text-align: center;
	align-items: center;
	display: inline-block;
}
/* entire container, keeps perspective */
.class-flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.class-flip-container:hover .class-flipper, .class-flip-container.hover .class-flipper {
		transform: rotateY(180deg);
	}

.class-flip-container, .class-front, .class-back {
	width: 100%;
	height: 160px;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	word-wrap: break-word;
}

.class-front{
	background-color:rgba(0,0,0,0.3);
	text-align: center;
	word-wrap: break-word;

}
.class-back{
	background-color:rgba(0,0,0,0.3);
	text-align: center;
	word-wrap: break-word;
}

.class-center{
	
}
/*fizza---->*/
/*
.class-flip-container:hover{
	background-color:rgba(0,0,0,0.3);
}*/

.class-flipper .class-front{
	padding:0px;
}
.class-flipper .class-front span{
	font-size:50px;
	text-align: center;
	transition:transform .7s, opacity .6s;
}
.class-flipper:hover .class-front span{
	transform:scale(2.5);
	opacity:0;
}
.class-flipper .class-back h3{
	font-weight:80;
	font-size: 20px;
	transition:opacity .3s;
}
.class-flipper:hover .class-back h3{
	opacity:0;
}
.class-flipper p{
	position:absolute;
	padding:10px;
	top:0%;
	transition:top .6s;
}
.class-flipper:hover p{
	top:0%;
}/* <----/fizza */



/* flip speed goes here */
.class-flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.class-front, .class-back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.class-front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.class-back {
	transform: rotateY(180deg);
}

.class-wrapper{
	width: 165px;
	height: 170px;
	text-align: center;
	align-items: center;
	display: inline-block;
	
}

/* setting width and height of vertical line */
.class-vertical-line{
	background-color: white;
	width: 2px;
	display: inline-block;
	position: relative;
	margin-left: 0;
}
.class-large{
	height: 100px;
}
.class-small{
	height: 100px;
}

.class-overlap{
	margin-left: 0px;
}

.class-base-line{
	height: 4px;
	width: 100%;
	background-color: white;
	margin-top: -5px;
}

.class-downward{
	position: relative;
	top: 24px;
}

.class-5px-upward{
	margin-top: -8px;
}
.class-5px-downward{
	margin-bottom: -3px;
}

.class-50px-downward{
		margin-top: 50px;
}


@media only screen and (min-width: 1150px) and (max-width: 1270px){
	.class-flip-container, .class-front, .class-back {
	width: 130px;
	height: 130px;
	text-align: center;
	align-items: center;
	}

	/*.class-front{
		background-color: green;
	}
	.class-back{
		background-color: green;
	}*/

	/*fizza---->*/

	

	.class-flipper .class-front{
		padding:0px;
	}
	.class-flipper .class-front span{
		font-size:30px;
		text-align: center;
		transition:transform .7s, opacity .6s;
	}
	.class-flipper:hover .class-front span{
		transform:scale(2.5);
		opacity:0;
	}
	.class-flipper .class-back h3{
		font-weight:64;
		font-size: 16px;
		transition:opacity .3s;
	}
	.class-flipper:hover .class-back h3{
		opacity:0;
	}
	.class-flipper p{
		position:absolute;
		padding:8px;
		top:0%;
		transition:top .6s;
	}
	.class-flipper:hover p{
		top:0%;
	}/* <----/fizza */



	/* flip speed goes here */
	.class-flipper {
		transition: 0.6s;
		transform-style: preserve-3d;

		position: relative;
	}

	/* hide back of pane during swap */
	.class-front, .class-back {
		backface-visibility: hidden;

		position: absolute;
		top: 0;
		left: 0;
	}

	/* front pane, placed above back */
	.class-front {
		z-index: 2;
		/* for firefox 31 */
		transform: rotateY(0deg);
	}

	/* back, initially hidden pane */
	.class-back {
		transform: rotateY(180deg);
		transition-delay:0.5;
		transition: all 1s;
	}
	.class-back:hover{
		width: 160px;
		height: 170px;
		margin-top: -40px;
		margin-right: -10px;
	}

	.class-wrapper{
		width: 130px;
		height: 140px;
		text-align: center;
		align-items: center;
		display: inline-block;
	}

	/* setting width and height of vertical line */
	.class-vertical-line{
		background-color: white;
		width: 2px;
		display: inline-block;
		position: relative;
		margin-left: 0;
	}
	.class-large{
		height: 50px;
	}
	.class-small{
		height: 50px;
	}

	.class-overlap{
		margin-left: 20px;
	}

	.class-base-line{
		height: 3px;
		width: 100%;
		background-color: white;
		margin-top: -5px;
	}

	.class-downward{
		position: relative;
		top: 18px;
	}

	.class-5px-upward{
		margin-top: -10px;
	}
		
}


@media only screen and (min-width: 700px) and (max-width: 1150px){
	/*make the desktop timeline visibility none*/
	.class-desktop{
		display: none;
	}
	/*show mobile display*/
	.class-mobile{
		display: initial;
	}
	.class-base-line{
		height: 100%;
		width: 3px;
		background-color: white;
	}
	.class-large{
		width: 250px;
	}
	.class-small{
		width: 100px;
	}
	.class-horizontal-line{
		background-color: white;
		height: 2px;
		display: inherit;
		position: relative;
		margin-left: 0;
		
	}
	.class-downward{
		position: relative;
		top: 103px;
	}

		/* flip the pane when hovered */
	.class-flip-container:hover .class-flipper, .class-flip-container.hover .class-flipper {
		transform: rotateY(180deg);
	}

.class-flip-container, .class-front, .class-back {
	width: 250px;
	height: 140px;
	text-align: center;
	align-items: center;
	vertical-align: middle;
}

/*.class-front{
	background-color: green;
}
.class-back{
	background-color: green;
}*/

/*fizza---->*/



.class-flipper .class-front{
	padding:0px;
}
.class-flipper .class-front span{
	font-size:50px;
	text-align: center;
	transition:transform .7s, opacity .6s;
}
.class-flipper:hover .class-front span{
	transform:scale(2.5);
	opacity:0;
}
.class-flipper .class-back h3{
	font-weight:80;
	font-size: 20px;
	transition:opacity .3s;
}
.class-flipper:hover .class-back h3{
	opacity:0;
}
.class-flipper p{
	position:absolute;
	padding:10px;
	top:0%;
	transition:top .6s;
}
.class-flipper:hover p{
	top:0%;
}/* <----/fizza */



/* flip speed goes here */
.class-flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.class-front, .class-back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.class-front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.class-back {
	transform: rotateY(180deg);
}

.class-wrapper{
	width: 500px;
	height: 150px;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	display: inline-flex;
	margin-left: 10%;
}
}

@media only screen and (max-width: 700px){
	/*make the desktop timeline visibility none*/
	.class-desktop{
		display: none;
	}
	/*show mobile display*/
	.class-mobile{
		display: initial;
	}
	.class-base-line{
		height: 100%;
		width: 3px;
		background-color: white;
		margin-right: -12px;
	}
	.class-large{
		width: 20px;
	}
	.class-small{
		width: 20px;
	}
	.class-horizontal-line{
		background-color: white;
		height: 20px;
		display: inherit;
		position: relative;
		margin-left: 0;
		border-radius: 50%;
	}

		/* flip the pane when hovered */
	.class-flip-container:hover .class-flipper, .class-flip-container.hover .class-flipper {
		transform: rotateY(180deg);
	}

.class-flip-container, .class-front, .class-back {
	width: 250px;
	height: 140px;
	text-align: center;
	align-items: center;
	vertical-align: middle;
}

.class-flip-container{
	margin-left: 20px;
}

/*.class-front{
	background-color: green;
}
.class-back{
	background-color: green;
}*/

/*fizza---->*/



.class-flipper .class-front{
	padding:0px;
}
.class-flipper .class-front span{
	font-size:50px;
	text-align: center;
	transition:transform .7s, opacity .6s;
}
.class-flipper:hover .class-front span{
	transform:scale(2.5);
	opacity:0;
}
.class-flipper .class-back h3{
	font-weight:80;
	font-size: 20px;
	transition:opacity .3s;
}
.class-flipper:hover .class-back h3{
	opacity:0;
}
.class-flipper p{
	position:absolute;
	padding:10px;
	top:0%;
	transition:top .6s;
}
.class-flipper:hover p{
	top:0%;
}/* <----/fizza */



/* flip speed goes here */
.class-flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.class-front, .class-back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.class-front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.class-back {
	transform: rotateY(180deg);
}

.class-wrapper{
	width: 500px;
	height: 200px;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	display: inline-flex;
	margin-left: 10%;
}	
}

