body
{
    background-color:black; 
}
input{
    background-color: transparent;
    color: white;

}
input[type=text] {
    border-style: none;
    border-bottom: 1px solid white;
    /*font-size: 18px;*/
    margin-bottom: 5%;
    width: 100%;
}
input[type=password] {
    border-style: none;
    border-bottom: 1px solid white;
    /*font-size: 18px;*/
    margin-bottom: 5%;
    width: 100%;
}

input:focus {
    outline: none !important;
}

.cover-mobile {
    display: none;
}

@media only screen and (max-width: 400px) {
    .cover-mobile {
        display: inherit;
    }
    .cover-desktop {
        display: none;
    }
}

.selectWidth {
	width: auto;
  	margin:10px;
  }
#makeinline
{
    display: inline-block;
}
#makeinline p,#makeinline select{
    display: inline;
}

#makeinline2
{
    display: inline-block;
}
#makeinline2 p,#makeinline2 select{
    display: inline;
}
#makeinline3
{
    display: inline-block;
}
#makeinline3 p,#makeinline3 input{
    display: inline;
}
input[type='file'] {
  color: transparent;
}

#makeborder
{
    border-style:solid;
    border-color:white;
    background-color: transparent;
    color: white;
    border-width:1px;
    padding: 5%;
    text-align: center;

}

.etc-login-form {
  color: #919191;
  padding: 10px 20px;
}
.etc-login-form p {
  margin-bottom: 5px;
}

